<ion-view  class='bg-grey'>
	<ion-nav-title>
	  <div class='color-yellow text-center'>{{ 'Rate Card' | langTranslate: appConvertedLang['Rate_Card'] }}</div>
  </ion-nav-title>
	<ion-content>
		<div class='h-100-p  '>
			<div id='head-tab-area' class='row no-padding text-center color-gery bg-dark2'>
				<div class='col  ' ng-class='{active: rateCard_menu_selected == $index }' ng-click='rateCard_menu_click($index)' ng-repeat='menu in rateCard_menu'><div class='Menu-tab-head '>{{ menu.name | rateCardMenuLangTranslate: appConvertedLang['NIGHT'] : appConvertedLang['DAY'] }}</div></div>
			</div>
			<div id='rateCard-tab-area' class='visible'>
				<ion-scroll direction="y" style='height: 100%'>
					<div  ng-repeat='item in active_rateCard' style='padding-bottom: 20px'>
						<div class='rate-head row bg-light'>
							<div class='col h-100-p' style='padding-left:25px; '>
								<img class='pull-right vertical-middle' src='img/{{item.cartype}}.png' err-SRC="img/Sedan.png" />
								<span class='pull-left vertical-middle color-white'> {{item.cartype}} </span>
							</div>
						</div>
						<div style='padding-left:20px;'>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Aeropuerto/Tray&eacute;cto</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.aerotray}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Recogida en Aeropuerto con Recepci&oacute;n</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.aeroreco}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Disponibilidad 8 Hrs en Bogot&aacute;</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.disp8}}</span>
									</div>
							</div>							
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Disponibilidad 12 Hrs en Bogot&aacute;</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.disp12}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Disponibilidad 24 Hrs en Bogot&aacute;</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.disp24}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Andr&eacute;s Chia por Guaymaral</p>
										<p class='color-gery no-margin'>(Ida y regreso con 2 puntos de recogida y regreso puerto a puerta dentro de per&iacute;metro establecido)</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.achiag}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Andr&eacute;s Chia por la Autopista Norte</p>
										<p class='color-gery no-margin'>(Ida y regreso con 2 puntos de recogida y regreso puerto a puerta dentro de per&iacute;metro establecido)</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.achian}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>City Tour</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.citytour}}</span>
									</div>
							</div>
							<div class="row p-top-5 b-border-light">
									<div class="col  p-10 col-center" >
										<p class='color-gery no-margin'>Tour Sabana (3 Lugares);</p>
									</div>
									<div class="col   p-10 text-right col-center" >
										<span class='color-yellow'>$</span> <span class='color-gery'>{{item.sabana}}</span>
									</div>
							</div>
						</div>

					</div>
				</ion-scroll>
			</div>
			<div class='color-white text-center net-error' >{{ 'No network connection!' | langTranslate: appConvertedLang['No_network_connection'] }}</div>
		</div>
	</ion-content>
</ion-view>
